{% extends "base.html" %}

{% block content %}
  <h1>{{ car.model }}</h1>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
  <h4>Drivers:</h4>
  
  {% if user in car.drivers.all %}
    <a href="{% url 'taxi:car-delete-driver' pk=car.id %}" class="btn btn-danger">
      Delete me from this car
    </a>
  {% else %}
    <a href="{% url 'taxi:car-assign-driver' pk=car.id %}" class="btn btn-success">
      Assign me to this car
    </a>
  {% endif %}
  
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }}</li>
    {% empty %}
      <p>No drivers assigned yet.</p>
    {% endfor %}
  </ul>
{% endblock %}